@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-black;
  box-sizing: border-box;
}

.content {
  padding-top: 132px;
}

@media screen and (max-width: 550px) {
  .app {
    width: 100%;
    height: 100%;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  object-fit: contain;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.logos-slide img {
  height: 3vh;
  margin: 0 1vw;
  display: inline;
}

@media screen and (max-width: 550px) {
  .logos-slide img {
    height: 3vh;
    margin: 0 1vw;
    display: inline;
    max-width: none;
  }
}

.indicator {
  cursor: pointer;
  padding: 0;
  text-align: center;
  border: 1px #999999 solid;
  margin: 2px;
  background: #999999;
  width: calc(100% / 5);
  height: 5px;
}

.indicator.active {
  background: #000000;
  border-color: #000000;
}

ul {
  padding-right: 32px;
  margin-bottom: 0px;
}
